body {
    background-color: #eaeaea;
}
* {
    box-sizing: border-box;
}
.top-bar {
    position: sticky;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #003366;
} 
.to-others {
    float: right;
}
.topa {
    color: #e5ecf2;
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 15px;
    transition: .24s;

}
#nav {
    width: 150px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    box-shadow: 4px 0 25px 0 #e5ecf2;
}
#navcat {
    top: 70px;
    position: relative;
}
.eachnavcat {
    position:relative;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}
.navtext {
    color: darkgrey;
    font-size: 15px;
    text-decoration: none;
}
a:hover {color: cornflowerblue;}
.text-ellip:hover {color:cornflowerblue;}
#content {
    position:relative;
    width: 84%;
    align-items: center;
    left:155px;
    top:10px;
}
.website-title  {
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    letter-spacing: 2px;
    position: relative;
    color: #262729;
    transition: all .28s;
    padding-right: 46px;
    font-weight: 700;
}
p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.detail {
    background: #fff;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}
.info {
    height: 26px;
    width: 154px;
    line-height: 26px;
    margin-top: 5px;
    
    background: #fff;
}
.text-ellip{
    display: inline-block;
    width: 130px;
    margin: 5px 5px 5px 5px;
    color: #262729;
    font-size: 13px;
    vertical-align: middle;
    margin-left: 10px;
    transition: .24s;
}
.website-wrap {
        box-shadow: 1px 2px 3px 7px 13px 11px 9px ;
        cursor: pointer;
    }
